/*Surcharge
***************/
html,
body,
header,
main,
footer,
nav,
address,
section,
div,
article,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
span,
a,
i,
pre,
code {
    font-weight: unset;
    line-height: unset;
    padding: 0;
    margin: 0;
    border: 0;
}
a {
color: inherit;
text-decoration: none;
}
ol, ul {
  list-style: none;
}



/*Balises sémantiques::
minimum =>header, nav,h1-h2-h3,main,section,article,footer=>True
*/

/******Css Pricipal Mobile first+++***********/


* {/*All-éléments-Dom*/   
	/*font-family: Roboto,sans-serif;*/
}




/*Design System Config: couleurs  charte
*/
:root {	
	/*Colors */
    --main-color: #0065FC;/*bleu*/
    --main-bg-color: #F2F2F2;/*gris*/
    --filter-bg-color: #DEEBFF;/*bleu claire*/
	
   /*Text configuration*/
    --h1-font-size:1.375rem;/*22px*/
	--h1-font-weight: 700;/* bold 700*/
	--h1-line-height: 1.614rem;/*25.83px*/  
 
    --h2-font-size:1.125rem;/*18px*/
	--h2-font-weight: 700;/* bold 700*/
	--h2-line-height: 1.321rem;/*21.13px*/  
   
    --h3-font-size:1.063rem;/*17px*/
	--h3-font-weight: 700;/* bold 700*/
	--h3-line-height: 1.248rem;/*19.96px*/
	  
    --p-font-size:1rem;/*16px*/
	--p-font-weight: 400;/* normal 400*/
	--p-line-height: 1.174rem;/*18.78px*/
	
    --h4-font-size:0.875rem;/*14px*/
	--h4-font-weight: 400;/* normal 400*/
	--h4-line-height: 1.028rem;/*16.44px*/
}



/*Icone-All
*/
.fa-solid{/*Icone-color*/
    color: var(--main-color);
	color: #353535;
}
.fa-lg{/*Taille*/
  font-size: 1.25rem;
}

/*Color-All
*/
.c1{
color:#fff;	
}
.c2{
color: #7e7e7e;
}


body {
	
    display: flex;
    justify-content: center;

}
.main-container {
    width: 100%;
    /*max-width: 1440px;/*desktop*/
	/*width: 375px;/*mobile first*/
    /*padding: 0 50px; */
	border:0px solid red;
    box-sizing: border-box;		
}


/*Text-All
*/


h1{
font-size:var(--h1-font-size);
font-weight:var(--h1-font-weight);
line-height:var(--h1-line-height);	
}
h2{
font-size:var(--h2-font-size);
font-weight:var(--h2-font-weight);
line-height:var(--h2-line-height);		
}
h3{
font-size:var(--h3-font-size);
font-weight:var(--h3-font-weight);
line-height:var(--h3-line-height);			
}
h4{
font-size:var(--h4-font-size);
font-weight:var(--h4-font-weight);
line-height:var(--h4-line-height);	
}
p{
font-size:var(--p-font-size);
font-weight:var(--p-font-weight);
line-height:var(--p-line-height);
}
.h1{
font-size:var(--h1-font-size);
font-weight:var(--h1-font-weight);
line-height:var(--h1-line-height);
	
}

/*Surcharge-All
***************/

/*<header>-All 
***************/

/*Composant-1
*/
.container-logo{/*flex*/
width:100%;
display: flex;
justify-content: center;
}
.flech-retourn{
height:16px;/*fima*/
width:17.2px;/*fima*/	
position:absolute;
left:20px;
margin-top:12px;	
}
.logo{/*fima*/
height:44px;
width:162px;
}


/*Composant-2
*/
.container-image{	
height:275px;	
width: 100%;

border:0px solid red;
box-sizing: border-box;	
overflow:hidden;	
}
.c2-image{
height:275px;	
width: 100%;	
}


/*Composant-3
*/
.container-composant-3{
z-index: 1;
position: relative;	
margin-top: -4rem;

padding:20px;
border-radius: 2rem 2rem 0 0;	
box-sizing: border-box;
background-color: #f6f6f6;	
height:2000px;	
}

.container-menu-top{
width: 100%;	
}
.menu-top-titre{
font-size:28px;	
font-family: Shrikhand,"cursive";
font-style: italic;

}

/*icone-coeur*/
.cart-coeur{/*container-icone*//*Mecanisme opacité css Nas +++*/
height:21px;/*fima*/
width:22px;/*fima*/

position:absolute;
right:35px;

margin-top:-30px;
border:0px solid red;

background-color:#f6f6f6;
cursor: pointer;	
}
.icon-coeur-1{/*icone 1*//*depart*/
position:absolute;
left:0px;	
font-size: 21px;
color:#000;
opacity: 1;

}
.icon-coeur-2{/*icone 1*//*depart*//*degradé*//*z-index*/
position:absolute;
font-size: 21px;
color:#000;  
  
background: -webkit-linear-gradient( #9356DC,#FF79DA);/*color fima onglet=>linear*/
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0;
transition: 0.7s;
}
.icon-coeur-1:hover{  
opacity: 0;
}
.icon-coeur-2:hover{ 
opacity: 1;

}


.menu-corp-titre{/*text=>Entrées*/
font-size:16px;/*fima*/
font-family: Roboto;
font-weight:300;
text-transform: uppercase;	
	
}
.menu-corp-trait{
width:40px;/*fima*/
border-bottom:3px solid #99E2D0;/*fima*/
margin-top:5px;
margin-bottom:5px;		
}

.menu-corp-carts{/*flex*/
max-width: 100%;

box-sizing:border-box;

/*border-radius: 0.75rem;*/
box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);	
cursor: pointer;
overflow:hidden;
margin-bottom:20px;

 display: flex;
 flex-direction: row;
 justify-content:space-between;
}
.menu-corp-carts-droit{/*Active=>...*//*lié =>width:100%total*//*.menu-corp-carts-gauche*/
/*max-width:74%;/*avec Bloc vert >Active*/
width:88%;/*sans Bloc vert*/
/*background-color:yellow;*/

padding:15px;
box-sizing:border-box;
}


.menu-corp-carts-text1{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;	
	
}
.menu-corp-carts-text2{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;	
	
}


.menu-corp-carts-gauche{/*flex*/
width:12%;/*avec Bloc vert >Active*/
display: flex;
flex-direction: row;
/*background-color:red;*/
}
.menu-corp-carts-prix{
margin:auto;
padding-top:32px;
box-sizing:border-box;	
/*background-color:pink;*/	
}
.menu-corp-carts-valid{
/*width:100%;*/
width:59px;/*fima*/	
background-color:#99e2d0;		
}






/*Composant-6
*/
.container-footer{/*G*/
width:100%;
padding:20px;
box-sizing:border-box;	
background-color: #353535;	
}
.footer-e1{	
width:100%;			
}
.footer-e1-e1{/*logo text*/
width:137.58px;
height:27px;
color: #fff;
font-family: Shrikhand,"cursive";
font-size: 1.2rem;
margin-bottom:20px;
}
.ul-footer-e2{/*<ul>*/	
}
.li-footer-e2{/*<li>*/
margin-bottom:15px;	
}
.footer-icon{/*icone*/
color:#fff;		
}
.footer-text-1{/*text*/
color:#fff;		
}











/*<main>-All
***************/


/*<footer>-All
***************/

footer {
background-color:#353535;
	
}


.D{display:none}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
}




















